---
---
$dark-green:#044946;
$light-green:#38845E;
$cloud-color:#E4EFF3;

.background{
  left: 0;
  bottom: 0;
  position: absolute;
  width: 500px;
  height: 700px;
  z-index: -1;
  .drawing{
    width: 500px;
    height: 700px;
    
  }
}

.peak{
    position:absolute;
    right:0;
    top:0;
    transform: translate(50%);
 }
.shadow{
  position:absolute;
  right:0;
  bottom:-420px;
  transform: translate(50%);
  opacity:0.7;
  width: 676px;
  height: 420px;
}

.station-down {
    border-width:30px 60px;
    border-style:solid;
    border-color:black; 

    position:absolute;
    bottom:0;
    left:1200px;
    z-index: 12;
  }

.station-up {
    border-width:30px 60px;
    border-style:solid;
    border-color:black; 

    position:absolute;
    bottom:200px;
    left:300px;
    z-index: 12;
}
.chair {
    border-width:20px 20px;
    border-style:solid;
    border-color:black; 

    position:absolute;
    bottom:0;
    left:1200px;
    z-index: 12;

    animation-name: chair;
    animation-duration: 8s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes chair {
    from {
        bottom:0;
        left:1200px;
    }
    to {
        bottom:200px;
        left:300px;
    }
}


.mountain{
  position:absolute;
  bottom:0px;
  z-index: 10;
  left:-90px;
  border-width:26em 20em;
  border-style:solid;
  border-color:transparent transparent #93A4B4 transparent;  

  

  &-small{
    position:absolute;
    bottom:0;
    z-index: 5;
    left:100px;
    border-width:33em 26em;
    border-style:solid;
    border-color:transparent transparent #657084 transparent;
    &::after{
      content:'';
      position:absolute;
      left:100%;
      top:100%;
      border-width:16.5em 13em;
      border-style:solid;
      border-color:transparent transparent #474f5d #474f5d; 
      opacity:0.5;
    }
    
  }
  
}


/* Small phone screen sizes */
@media only screen and (max-device-width: 411px) {
    .drawing{
        transform: scale(0.2) translateX(-1000px) translateY(1500px);
    }
}

/* Large phone screen sizes */
@media only screen and (max-device-width: 480px) and (min-device-width: 412px) {
    .drawing{
        transform: scale(0.2) translateX(-1000px) translateY(1500px);
    }
}

/* Small tablet screen sizes */
@media only screen and (max-device-width: 768px) and (min-device-width: 481px) {
    .drawing{
        transform: scale(0.2) translateX(-1000px) translateY(1500px);
    }
}

/* Large tablet screen sizes */
@media only screen and (max-device-width: 1280px) and (min-device-width: 769px) {
    .drawing{
        transform: scale(0.2) translateX(-1000px) translateY(1500px);
    }
}
